body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameScreen {
  margin: 10px 10px 150px 10px;
  border: 1px solid black;
}

img {
  display: none;
}
