body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameScreen {
  margin: 10px 10px 150px 10px;
  border: 1px solid black;
}

img {
  display: none;
}

canvas {
  z-index: 1;
}

input {
  z-index: 2;
}

.bg {
  background-image: url("../assets/bg.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
